<% include ../partials/header %>

    <header class ="jumbotron box-shadow">
        <div class="container">
            <h1>Welcome to Yelpcamp</h1>
            <p>View our hand-picked campgrounds from all over the world!</p>
            <p>
                <a class="btn btn-primary btn-md indexBtn" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>
    
    <div class="row">
    <%campgrounds.forEach(function(campground){%>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card text-center box-shadow">
                <img class="card-img-top images" src="<%=campground.image%>" alt="<%=campground.image%> Image">
                <div class="card-title">
                    <h5><%=campground.name%></h5>
                </div>
                <p class="card-link">
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary btn-sm indexBtn">More Info</a>
                </p>
            </div>
        </div>
    <% }); %>
    </div>

<% include ../partials/footer %>