body {
  background-color: #000;
}

.btn-lg {
  background-color: rgba(0,0,0,.4);
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.btn-lg:hover {
  background-color: rgba(0,0,0,.6);
}

.btn-lg:active:focus {
  background-color: rgba(0,0,0,.6);
  border: 1px solid white;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}
/*Add outline to header*/
/*@supports */
/*  ((-webkit-text-stroke-color: #666)*/
/*  and*/
/*  (-webkit-text-fill-color: white))*/
/*  or*/
/*  ((-moz-text-stroke-color: #666)*/
/*  and*/
/*  (-moz-text-fill-color: white)) {*/
/*  #landing-header h1 {*/
/*       -moz-text-fill-color: white;*/
/*    -webkit-text-fill-color: white;*/
/*       -moz-text-stroke-color: #666;*/
/*    -webkit-text-stroke-color: #666;*/
/*       -moz-text-stroke-width: .5px;  */
/*    -webkit-text-stroke-width: .5px;*/
/*  }*/
/*}*/

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(http://i.imgur.com/K3mPv14.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(http://i.imgur.com/SBEmFpv.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}